.background{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    border: 2px solid black;
    border-radius: 8px;
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}